<div class="card ">
    <p-toast />
    <p-toolbar>

        <div class="p-toolbar-group-start">
            <h6>1.0 Exacavation</h6>

            <!-- <div class="p-inputgroup ml-3">
                    <div class="inline-element border border-1 border-black">
                        6000000
                     </div>
                     <ng-container >
                        <div class="inline-element border border-1 border-black">
                           currency
                        </div>
                    </ng-container>
                </div> -->
        </div>
        <!-- <div class="p-toolbar-group-center">
            <span class="p-input-icon-left">
                <input pInputText type="text" placeholder="Search...."
                    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary " />
            </span>

            <div class="p-inputgroup ml-3">
                <input type="number" pInputNumber placeholder="Profit Margin" />
                <button type="button" pButton styleClass="p-button-warn">Apply</button>
            </div>
        </div> -->
        <div class="p-toolbar-group-end">
            <button pButton pRipple icon="pi pi-copy" class="p-button-rounded m-2"></button>
            <button pButton size="small" icon="pi pi-trash" (click)="deleteRecord()" severity="danger"
                class="m-2"></button>
            <button pButton icon="pi pi-print" size="small" class="m-2 "></button>
            <button pButton label="Export" size="small" (click)="exportExcel()" icon="pi pi-download"
                class="m-2"></button>
            <button pButton label="Import" size="small" (click)="exportExcel()" icon="pi pi-upload"
                class="m-2"></button>
        </div>
    </p-toolbar>

    <div class=" text-center">
        <div class="row justify-content-center fs-6 fw-bold ">
            <!-- border-danger-subtle -->
            <div class="col-2 border ">
                Total Value:
            </div>
            <div class="col-2 border ">
                {{totalValue}}
            </div>
            <div class="col-2 border ">
                Currency
            </div>
        </div>
    </div>
</div>

<p-toast></p-toast>

<p-table [value]="mainItemsRecords" dataKey="mainItemCode" [resizableColumns]="true" [expandedRowKeys]="expandedRows"
    editMode="row">
    <ng-template pTemplate="caption">
        <div class="flex flex-wrap justify-content-center gap-2">
            <div class="p-toolbar-group-center">
                <span class="p-input-icon-left">
                    <!-- <i class="pi pi-search"></i> -->
                    <!-- <input pInputText placeholder="Search" /> -->
                    <input pInputText type="text" placeholder="Search...."
                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary " />
                </span>

                <!-- <div class="p-inputgroup ml-3">
                    <input type="number" pInputNumber placeholder="Profit Margin" />
                    <button type="button" pButton styleClass="p-button-warn">Apply</button>
                </div> -->
                <div class="p-inputgroup ml-3">
                    <input type="number" pInputNumber placeholder="Profit Margin" [(ngModel)]="profitMarginValue" />
                    <button type="button" pButton styleClass="p-button-warn"
                        (click)="updateProfitMargin(profitMarginValue)">Apply</button>
                </div>

            </div>
            <p-button label="Expand All" icon="pi pi-plus" (onClick)="expandAll()" />
            <p-button label="Collapse All" icon="pi pi-minus" (onClick)="collapseAll()" />
        </div>
    </ng-template>

    <ng-template pTemplate="header">
        <tr>
            <th style="min-width: 10rem;"> </th>
            <th style="min-width: 10rem;">
                <!-- <p-checkbox (onChange)="onSelectAllRecords($event)" [value]="invoicesRecords"></p-checkbox> -->
            </th>
            <th style="min-width: 10rem;">Print </th>
            <th style="min-width: 10rem;"> MainItem.No </th>
            <th style="min-width: 10rem;"> SubItem.No </th>
            <th style="min-width: 10rem;" pResizableColumn pSortableColumn="name">ServiceNO. <p-sortIcon field="name" />
            </th>
            <th style="min-width: 10rem;" pResizableColumn pSortableColumn="price">Description <p-sortIcon
                    field="price" /></th>
            <th style="min-width: 10rem;" pResizableColumn pSortableColumn="category">Quantity <p-sortIcon
                    field="category" /></th>
            <th style="min-width: 10rem;" pResizableColumn pSortableColumn="rating">UOM <p-sortIcon field="rating" />
            </th>
            <th style="min-width: 10rem;" pResizableColumn pSortableColumn="rating">Formula <p-sortIcon
                    field="rating" /> </th>
            <th style="min-width: 10rem;" pResizableColumn pSortableColumn="rating">Parameters <p-sortIcon
                    field="rating" /></th>
            <th style="min-width: 10rem;" pResizableColumn pSortableColumn="rating">AmountPerUnit <p-sortIcon
                    field="rating" /></th>
            <th style="min-width: 10rem;" pResizableColumn pSortableColumn="rating">Currency <p-sortIcon
                    field="rating" /></th>
            <th style="min-width: 10rem;" pResizableColumn pSortableColumn="rating">Totla <p-sortIcon field="rating" />
            </th>
            <th style="min-width: 10rem;" pResizableColumn pSortableColumn="rating">ProfitMargin % <p-sortIcon
                    field="rating" /></th>
            <th style="min-width: 10rem;" pResizableColumn pSortableColumn="rating">AmountPerUnitWithProfit <p-sortIcon
                    field="rating" /></th>
            <th style="min-width: 10rem;" pResizableColumn pSortableColumn="rating">TotalWithProfit <p-sortIcon
                    field="rating" /></th>
            <th style="min-width: 10rem;">Actions</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-mainItem let-editing="editing" let-ri="rowIndex" let-expanded="expanded">
        <tr [pEditableRow]="mainItem">

            <td style="min-width: 10rem;">
                <p-button type="button" pRipple [pRowToggler]="mainItem" [text]="true" [rounded]="true" [plain]="true"
                    [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" />
            </td>
            <td style="min-width: 10rem;">

                <p-checkbox [value]="mainItem" [(ngModel)]="mainItem.selected"
                    (onChange)="onMainItemSelection($event, mainItem)"></p-checkbox>

            </td>
            <td style="min-width: 10rem;">

                <p-checkbox [value]="mainItem" [(ngModel)]="mainItem.doNotPrint"
                    (onChange)="onMainItemSelection($event, mainItem)"></p-checkbox>

            </td>
            <td style="min-width: 10rem;">
                {{ rowIndex + ri + 1 }}
            </td>
            <td style="min-width: 10rem;">

            </td>
            <td style="min-width: 10rem;">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <p-dropdown [options]="recordsServiceNumber" [(ngModel)]="mainItem.serviceNumberCode"
                            [ngModelOptions]="{standalone: true}" optionValue="serviceNumberCode"
                            optionLabel="description" [filter]="true" [filterFields]="['searchTerm','description']"
                            [showClear]="true" placeholder="Select SeviceNumber" [appendTo]="'body'"
                            (onChange)="onServiceNumberUpdateChange($event)" [virtualScroll]="true"
                            [virtualScrollItemSize]="40">
                            <ng-template let-record pTemplate="item">
                                <div class="flex align-items-center gap-2">
                                    <div>{{ record.searchTerm }}::{{ record.description }}</div>
                                </div>
                            </ng-template>
                        </p-dropdown>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{mainItem.serviceNumberCode}}
                    </ng-template>
                </p-cellEditor>
                <!-- {{ mainItem.serviceNumber }} -->
            </td>
            <td style="min-width: 10rem;">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <ng-container *ngIf="!updateSelectedServiceNumberRecord">
                            <input pInputText type="text" [(ngModel)]="mainItem.description">
                        </ng-container>
                        <ng-container *ngIf="updateShortTextChangeAllowed && updateSelectedServiceNumberRecord">
                            <input pInputText type="text" [ngModel]="updateSelectedServiceNumberRecord.description"
                                (ngModelChange)="updateShortText = $event">
                        </ng-container>
                        <ng-container *ngIf="!updateShortTextChangeAllowed && updateSelectedServiceNumberRecord">
                            {{ updateSelectedServiceNumberRecord.description }}
                        </ng-container>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{ mainItem.description }}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td style="min-width: 10rem;">

                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <ng-container *ngIf="!updatedFormulaRecord">
                            <input pInputNumber [min]="0" type="number" [(ngModel)]="mainItem.quantity">
                        </ng-container>
                        <ng-container *ngIf="updatedFormulaRecord && resultAfterTestUpdate">
                            {{ resultAfterTestUpdate}}
                        </ng-container>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{ mainItem.quantity }}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td style="min-width: 10rem;">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <ng-container *ngIf="updateSelectedServiceNumberRecord">
                            {{ updateSelectedServiceNumberRecord.baseUnitOfMeasurement }}
                        </ng-container>
                        <ng-container *ngIf="!updateSelectedServiceNumberRecord">
                            <p-dropdown [options]="recordsUnitOfMeasure" [(ngModel)]="mainItem.unitOfMeasurementCode"
                                [ngModelOptions]="{standalone: true}" optionValue="UnitOfMeasureLongName"
                                optionLabel="UnitOfMeasureLongName" [filter]="true"
                                [filterFields]="['UnitOfMeasureLongName','UnitOfMeasureName']" [showClear]="true"
                                placeholder=`{{mainItem.unitOfMeasurementCode}}` [required]="true" [appendTo]="'body'"
                                [virtualScroll]="true" [virtualScrollItemSize]="40">
                                <ng-template let-record pTemplate="item">
                                    <div class="flex align-items-center gap-2">
                                        <div>{{ record.UnitOfMeasureLongName }}::{{ record.UnitOfMeasureName }}</div>
                                    </div>
                                </ng-template>
                            </p-dropdown>
                        </ng-container>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{ mainItem.unitOfMeasurementCode }}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td style="min-width: 10rem;">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <p-dropdown [options]="recordsFormula" [(ngModel)]="mainItem.formulaCode"
                            [ngModelOptions]="{standalone: true}" optionValue="formula" optionLabel="formula"
                            [filter]="true" [filterFields]="['formula','description']" [showClear]="true"
                            [appendTo]="'body'" placeholder=`{{mainItem.formulaCode}}`
                            (onChange)="onFormulaUpdateSelect($event)" [virtualScroll]="true"
                            [virtualScrollItemSize]="40">
                            <ng-template let-record pTemplate="item">
                                <div class="flex align-items-center gap-2">
                                    <div>{{ record.formula }}::{{ record.description }}</div>
                                </div>
                            </ng-template>
                        </p-dropdown>

                    </ng-template>
                    <ng-template pTemplate="output">
                        {{ mainItem.formulaCode }}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td style="min-width: 10rem;">
                <button class="mb-2" (click)="openPopupUpdate()">Enter Parameters</button>
                <ng-container *ngIf="showPopupUpdate && updatedFormulaRecord ">
                    <div class="popup">
                        <h3>Enter Parameters</h3>
                        <div *ngFor="let parameterId of updatedFormulaRecord.parameterIds">
                            <label class="form-label">{{ parameterId }}:</label>
                            <input pInputNumber class="form-input" type="number" [min]="0"
                                [(ngModel)]="parameterValuesUpdate[parameterId]">
                        </div>
                        <button class="form-button" (click)="saveParameters()">Save</button>
                    </div>
                </ng-container>
            </td>
            <td style="min-width: 10rem;">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputNumber name="amountPerUnit" type="number" [min]="0"
                            [(ngModel)]="mainItem.amountPerUnit">

                    </ng-template>
                    <ng-template pTemplate="output">
                        {{ mainItem.amountPerUnit }}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td style="min-width: 10rem;">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <p-dropdown [options]="recordsCurrency" [(ngModel)]="mainItem.currencyCode"
                            [ngModelOptions]="{standalone: true}" optionValue="code" optionLabel="code" [filter]="true"
                            [filterFields]="['code','description']" [showClear]="true" placeholder="Select Currency"
                            [required]="true" [appendTo]="'body'" [virtualScroll]="true" [virtualScrollItemSize]="40">
                            <ng-template let-record pTemplate="item">
                                <div class="flex align-items-center gap-2">
                                    <div>{{ record.code }}::{{ record.description }}</div>
                                </div>
                            </ng-template>
                        </p-dropdown>

                    </ng-template>
                    <ng-template pTemplate="output">
                        {{ mainItem.currencyCode }}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td style="min-width: 10rem;">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <ng-container *ngIf="updatedFormulaRecord && resultAfterTestUpdate">
                            {{resultAfterTestUpdate * mainItem.amountPerUnit}}
                        </ng-container>
                        <ng-container *ngIf="!updatedFormulaRecord">
                            {{ mainItem.quantity * mainItem.amountPerUnit }}
                        </ng-container>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{ mainItem.total }}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td style="min-width: 10rem;">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputNumber name="profitMargin" type="number" [min]="0"
                            [(ngModel)]="mainItem.profitMargin">

                    </ng-template>
                    <ng-template pTemplate="output">
                        {{ mainItem.profitMargin }}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td style="min-width: 10rem;">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputNumber name="amountPerUnitWithProfit" type="number" [min]="0"
                            [(ngModel)]="mainItem.amountPerUnitWithProfit">

                    </ng-template>
                    <ng-template pTemplate="output">
                        {{ mainItem.amountPerUnitWithProfit }}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td style="min-width: 10rem;">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputNumber name="totalWithProfit" type="number" [min]="0"
                            [(ngModel)]="mainItem.totalWithProfit">

                    </ng-template>
                    <ng-template pTemplate="output">
                        {{ mainItem.totalWithProfit }}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td style="min-width: 10rem;">

                <div class="flex align-items-center justify-content-center gap-2">
                    <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                        (click)="onMainItemEditInit(mainItem)" class="p-button-rounded p-button-text"></button>
                    <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
                        (click)="onMainItemEditSave(mainItem.id,mainItem)"
                        class="p-button-rounded p-button-text p-button-success mr-2"></button>
                    <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
                        (click)="onMainItemEditCancel(mainItem, ri)"
                        class="p-button-rounded p-button-text p-button-danger"></button>
                </div>
            </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="rowexpansion" let-mainItem>
        <td colspan="18">
            <p-table [value]="mainItem.subItems" dataKey="subItemCode" [resizableColumns]="true" editMode="row"
                [expandedRowKeys]="expandedRows">

                <ng-template pTemplate="body" let-subItem let-editing="editing" let-ri="rowIndex">

                    <tr [pEditableRow]="subItem">

                        <td style="min-width: 8rem; "></td>
                        <td style="min-width: 8rem ;"></td>
                        <td style="min-width: 8rem;"></td>
                        <td style="min-width: 8rem;"></td>
                        <td style="min-width: 8rem;">
                            {{ ri + 1 }}
                            <input style="min-width: 1rem;" value="{{subItem.selected}}" type="checkbox"
                                [(ngModel)]="subItem.selected" (change)="onSubItemSelection($event,subItem)"
                                [checked]="subItem.selected">
                        </td>
                        <td style="min-width: 10rem;">
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <p-dropdown [options]="recordsServiceNumber" [(ngModel)]="subItem.serviceNumberCode"
                                        [ngModelOptions]="{standalone: true}" optionValue="serviceNumberCode"
                                        optionLabel="description" [filter]="true"
                                        [filterFields]="['searchTerm','description']" [showClear]="true"
                                        placeholder="Select SeviceNumber" [appendTo]="'body'"
                                        (onChange)="onServiceNumberUpdateChange($event)" [virtualScroll]="true"
                                        [virtualScrollItemSize]="40">
                                        <ng-template let-record pTemplate="item">
                                            <div class="flex align-items-center gap-2">
                                                <div>{{ record.searchTerm }}::{{ record.description }}</div>
                                            </div>
                                        </ng-template>
                                    </p-dropdown>
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{subItem.serviceNumberCode}}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td style="min-width: 10rem;">
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <ng-container *ngIf="!updateSelectedServiceNumberRecord">
                                        <input pInputText type="text" [(ngModel)]="mainItem.description">
                                    </ng-container>
                                    <ng-container
                                        *ngIf="updateShortTextChangeAllowed && updateSelectedServiceNumberRecord">
                                        <input pInputText type="text"
                                            [ngModel]="updateSelectedServiceNumberRecord.description"
                                            (ngModelChange)="updateShortText = $event">
                                    </ng-container>
                                    <ng-container
                                        *ngIf="!updateShortTextChangeAllowed && updateSelectedServiceNumberRecord">
                                        {{ updateSelectedServiceNumberRecord.description }}
                                    </ng-container>
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{ subItem.description }}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td style="min-width: 10rem;">
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <ng-container *ngIf="!updatedFormulaRecord">
                                        <input pInputNumber [min]="0" type="number" [(ngModel)]="subItem.quantity">
                                    </ng-container>
                                    <ng-container *ngIf="updatedFormulaRecord && resultAfterTestUpdate">
                                        {{ resultAfterTestUpdate}}
                                    </ng-container>
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{ subItem.quantity }}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td style="min-width: 10rem;">
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <ng-container *ngIf="updateSelectedServiceNumberRecord">
                                        {{ updateSelectedServiceNumberRecord.baseUnitOfMeasurement }}
                                    </ng-container>
                                    <ng-container *ngIf="!updateSelectedServiceNumberRecord">
                                        <p-dropdown [options]="recordsUnitOfMeasure"
                                            [(ngModel)]="subItem.unitOfMeasurementCode"
                                            [ngModelOptions]="{standalone: true}" optionValue="UnitOfMeasureLongName"
                                            optionLabel="UnitOfMeasureLongName" [filter]="true"
                                            [filterFields]="['UnitOfMeasureLongName','UnitOfMeasureName']"
                                            [showClear]="true" placeholder=`{{mainItem.unitOfMeasurementCode}}`
                                            [required]="true" [appendTo]="'body'" [virtualScroll]="true"
                                            [virtualScrollItemSize]="40">
                                            <ng-template let-record pTemplate="item">
                                                <div class="flex align-items-center gap-2">
                                                    <div>{{ record.UnitOfMeasureLongName }}::{{ record.UnitOfMeasureName
                                                        }}</div>
                                                </div>
                                            </ng-template>
                                        </p-dropdown>
                                    </ng-container>

                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{ subItem.unitOfMeasurementCode }}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td style="min-width: 10rem;">
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <p-dropdown [options]="recordsFormula" [(ngModel)]="subItem.formulaCode"
                                        [ngModelOptions]="{standalone: true}" optionValue="formula"
                                        optionLabel="formula" [filter]="true" [filterFields]="['formula','description']"
                                        [showClear]="true" placeholder="Select Formula" [required]="true"
                                        (onChange)="onFormulaUpdateSelect($event)" [appendTo]="'body'"
                                        [virtualScroll]="true" [virtualScrollItemSize]="40">
                                        <ng-template let-record pTemplate="item">
                                            <div class="flex align-items-center gap-2">
                                                <div>{{ record.formula }}::{{ record.description }}</div>
                                            </div>
                                        </ng-template>
                                    </p-dropdown>

                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{ subItem.formulaCode }}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td style="min-width: 10rem;">
                            <button class="mb-2" (click)="openPopupUpdate()">Enter Parameters</button>
                            <ng-container *ngIf="showPopupUpdate && updatedFormulaRecord ">
                                <div class="popup">
                                    <h3>Enter Parameters</h3>
                                    <div *ngFor="let parameterId of updatedFormulaRecord.parameterIds">
                                        <label class="form-label">{{ parameterId }}:</label>
                                        <input pInputNumber class="form-input" type="number" [min]="0"
                                            [(ngModel)]="parameterValuesUpdate[parameterId]">
                                    </div>
                                    <button class="form-button" (click)="saveParameters()">Save</button>
                                </div>
                            </ng-container>
                        </td>
                        <td style="min-width: 10rem;">
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputNumber name="amountPerUnit" type="number" [min]="0"
                                        [(ngModel)]="subItem.amountPerUnit">

                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{ subItem.amountPerUnit }}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td style="min-width: 10rem;">
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <p-dropdown [options]="recordsCurrency" [(ngModel)]="subItem.currencyCode"
                                        [ngModelOptions]="{standalone: true}" optionValue="code" optionLabel="code"
                                        [filter]="true" [filterFields]="['code','description']" [showClear]="true"
                                        placeholder="Select Currency" [required]="true" [appendTo]="'body'"
                                        [virtualScroll]="true" [virtualScrollItemSize]="40">
                                        <ng-template let-record pTemplate="item">
                                            <div class="flex align-items-center gap-2">
                                                <div>{{ record.code }}::{{ record.description }}</div>
                                            </div>
                                        </ng-template>
                                    </p-dropdown>

                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{ subItem.currencyCode }}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td style="min-width: 10rem;">
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <ng-container *ngIf="updatedFormulaRecord && resultAfterTestUpdate">
                                        {{resultAfterTestUpdate * subItem.amountPerUnit}}
                                    </ng-container>
                                    <ng-container *ngIf="!updatedFormulaRecord">
                                        {{ subItem.quantity * subItem.amountPerUnit }}
                                    </ng-container>
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{ subItem.total }}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td style="min-width: 10rem;"></td>
                        <td style="min-width: 10rem;"></td>
                        <td style="min-width: 10rem;"></td>
                        <td style="min-width: 10rem;">
                            <div class="flex align-items-center justify-content-center gap-2">
                                <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow
                                    icon="pi pi-pencil" (click)="onSubItemEditInit(subItem)"
                                    class="p-button-rounded p-button-text"></button>
                                <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow
                                    icon="pi pi-check" (click)="onSubItemEditSave(subItem.subItemCode,subItem)"
                                    class="p-button-rounded p-button-text p-button-success mr-2"></button>
                                <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow
                                    icon="pi pi-times" (click)="onSubItemEditCancel(subItem, ri)"
                                    class="p-button-rounded p-button-text p-button-danger"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="footer" class="m-3">
                    <tr>
                        <td style="min-width: 10rem;">

                        </td>
                        <td style="min-width: 10rem;">

                        </td>
                        <td style="min-width: 10rem;"></td>

                        <td style="min-width: 10rem;">

                        </td>
                        <td style="min-width: 10rem;">
                        </td>
                        <td style="min-width: 10rem;">
                            <p-dropdown [options]="recordsServiceNumber" [(ngModel)]="selectedServiceNumber"
                                [ngModelOptions]="{standalone: true}" optionValue="serviceNumberCode"
                                optionLabel="description" [filter]="true" [filterFields]="['searchTerm','description']"
                                [showClear]="true" placeholder="Select SeviceNumber"
                                (onChange)="onServiceNumberChange($event)" [appendTo]="'body'" [virtualScroll]="true"
                                [virtualScrollItemSize]="40">
                                <ng-template let-record pTemplate="item">
                                    <div class="flex align-items-center gap-2">
                                        <div>{{ record.searchTerm }}::{{ record.description }}</div>
                                    </div>
                                </ng-template>
                            </p-dropdown>
                        </td>
                        <td style="min-width: 10rem;">
                            <ng-container *ngIf="!selectedServiceNumberRecord">
                                <input pInputText type="text" [(ngModel)]="newSubItem.description">
                            </ng-container>
                            <ng-container *ngIf="shortTextChangeAllowed && selectedServiceNumberRecord">
                                <input pInputText type="text" [(ngModel)]="selectedServiceNumberRecord.description"
                                    (ngModelChange)="shortText = $event">
                            </ng-container>
                            <ng-container *ngIf="!shortTextChangeAllowed && selectedServiceNumberRecord">
                                {{ selectedServiceNumberRecord.description }}
                            </ng-container>
                            <!-- <input pInputNumber name="description" type="text" [(ngModel)]="newSubItem.description"> -->
                        </td>
                        <td style="min-width: 10rem;">
                            <ng-container *ngIf=" selectedFormula && selectedFormulaRecord && resultAfterTest">
                                {{resultAfterTest}}
                            </ng-container>
                            <ng-container *ngIf="!selectedFormulaRecord">
                                <input pInputNumber name="quantity" type="number" [min]="0"
                                    [(ngModel)]="newSubItem.quantity">
                            </ng-container>
                        </td>
                        <td style="min-width: 10rem;">
                            <ng-container *ngIf="selectedServiceNumberRecord">
                                {{selectedServiceNumberRecord.baseUnitOfMeasurement}}
                            </ng-container>

                            <ng-container *ngIf="!selectedServiceNumberRecord">
                                <p-dropdown [options]="recordsUnitOfMeasure" [(ngModel)]="selectedUnitOfMeasure"
                                    [ngModelOptions]="{standalone: true}" optionValue="UnitOfMeasureLongName"
                                    optionLabel="UnitOfMeasureLongName" [filter]="true"
                                    [filterFields]="['UnitOfMeasureLongName','UnitOfMeasureName']" [showClear]="true"
                                    placeholder="Select UnitOfMeasure" [required]="true" [appendTo]="'body'"
                                    [virtualScroll]="true" [virtualScrollItemSize]="40">
                                    <ng-template let-record pTemplate="item">
                                        <div class="flex align-items-center gap-2">
                                            <div>{{ record.UnitOfMeasureLongName }}::{{ record.UnitOfMeasureName }}
                                            </div>
                                        </div>
                                    </ng-template>
                                </p-dropdown>
                            </ng-container>
                        </td>
                        <td style="min-width: 10rem;">
                            <p-dropdown [options]="recordsFormula" [(ngModel)]="selectedFormula"
                                [ngModelOptions]="{standalone: true}" optionValue="formula" optionLabel="formula"
                                [filter]="true" [filterFields]="['formula','description']" [showClear]="true"
                                placeholder="Select Formula" [required]="true" (onChange)="onFormulaSelect($event)"
                                [appendTo]="'body'" [virtualScroll]="true" [virtualScrollItemSize]="40">
                                <ng-template let-record pTemplate="item">
                                    <div class="flex align-items-center gap-2">
                                        <div>{{ record.formula }}::{{ record.description }}</div>
                                    </div>
                                </ng-template>
                            </p-dropdown>
                        </td>
                        <td style="min-width: 10rem;">
                            <button class="mb-2" (click)="openPopup()">Enter Parameters</button>
                            <ng-container *ngIf="showPopup && selectedFormulaRecord ">
                                <div class="popup">
                                    <h3>Enter Parameters</h3>
                                    <div *ngFor="let parameterId of selectedFormulaRecord.parameterIds">

                                        <label class="form-label">{{ parameterId }}:</label>
                                        <input class="form-input" pInputNumber type="number" [min]="0"
                                            [(ngModel)]="parameterValues[parameterId]">
                                    </div>
                                    <button class="form-button" (click)="saveParameters()">Save</button>
                                </div>
                            </ng-container>
                        </td>
                        <td style="min-width: 10rem;">
                            <input pInputNumber name="amountPerUnit" type="number" [min]="0"
                                [(ngModel)]="newSubItem.amountPerUnit">
                        </td>
                        <td style="min-width: 10rem;">
                            <p-dropdown [options]="recordsCurrency" [(ngModel)]="selectedCurrency"
                                [ngModelOptions]="{standalone: true}" optionValue="code" optionLabel="code"
                                [filter]="true" [filterFields]="['code','description']" [showClear]="true"
                                placeholder="Select Currency" [required]="true" (onChange)="onFormulaSelect($event)"
                                [appendTo]="'body'" [virtualScroll]="true" [virtualScrollItemSize]="40">
                                <ng-template let-record pTemplate="item">
                                    <div class="flex align-items-center gap-2">
                                        <div>{{ record.code }}::{{ record.description }}</div>
                                    </div>
                                </ng-template>
                            </p-dropdown>
                        </td>
                        <td style="min-width: 10rem;">
                            <ng-container *ngIf="selectedFormulaRecord && resultAfterTest">
                                {{ resultAfterTest * (newSubItem.amountPerUnit ?? 0) }}
                            </ng-container>
                            <ng-container *ngIf="!selectedFormulaRecord">
                                {{ (newSubItem.quantity ?? 0) * (newSubItem.amountPerUnit ?? 0) }}
                            </ng-container>
                        </td>
                        <td style="min-width: 16.5rem;">
                        </td>
                        <td style="min-width: 16.5rem;">
                        </td>
                        <td style="min-width: 16.5rem;">
                        </td>
                        <td style="min-width: 10rem;">
                            <button pButton type="button" icon="pi pi-plus" class="ui-button-info" label="Save SubItem"
                                (click)="addSubItem(mainItem)">
                            </button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </td>
    </ng-template>

    <ng-template pTemplate="footer" class="m-3">
        <tr>
            <td style="min-width: 10rem;">

            </td>
            <td style="min-width: 10rem;">

            </td>
            <td style="min-width: 10rem;">

            </td>
            <td style="min-width: 10rem;">

            </td>
            <td style="min-width: 10rem;">
                <!-- <p-radioButton name="type" value="S" [(ngModel)]="recordType" inputId="type" />
                    <label for="type" class="ml-2">
                        S
                    </label> -->
            </td>
            <td style="min-width: 10rem;">
                <p-dropdown [options]="recordsServiceNumber" [(ngModel)]="selectedServiceNumber"
                    [ngModelOptions]="{standalone: true}" optionValue="serviceNumberCode" optionLabel="description"
                    [filter]="true" [filterFields]="['searchTerm','description']" [showClear]="true"
                    placeholder="Select SeviceNumber" (onChange)="onServiceNumberChange($event)" [appendTo]="'body'"
                    [virtualScroll]="true" [virtualScrollItemSize]="40">
                    <ng-template let-record pTemplate="item">
                        <div class="flex align-items-center gap-2">
                            <div>{{ record.searchTerm }}::{{ record.description }}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
            </td>
            <td style="min-width: 10rem;">
                <ng-container *ngIf="!selectedServiceNumberRecord">
                    <input pInputText type="text" [(ngModel)]="newMainItem.description">
                </ng-container>
                <ng-container *ngIf="shortTextChangeAllowed && selectedServiceNumberRecord">
                    <input pInputText type="text" [(ngModel)]="selectedServiceNumberRecord.description"
                        (ngModelChange)="shortText = $event">
                </ng-container>
                <ng-container *ngIf="!shortTextChangeAllowed && selectedServiceNumberRecord">
                    {{ selectedServiceNumberRecord.description }}
                </ng-container>
                <!-- <input pInputText name="description" type="text" [(ngModel)]="newMainItem.description"> -->
            </td>
            <td style="min-width: 10rem;">
                <ng-container *ngIf=" selectedFormula && selectedFormulaRecord && resultAfterTest">
                    {{resultAfterTest}}
                </ng-container>
                <ng-container *ngIf="!selectedFormulaRecord">
                    <input pInputNumber name="quantity" type="number" [min]="0" [(ngModel)]="newMainItem.quantity">
                </ng-container>
            </td>
            <td style="min-width: 10rem;">
                <ng-container *ngIf="selectedServiceNumberRecord">
                    {{selectedServiceNumberRecord.baseUnitOfMeasurement}}
                </ng-container>

                <ng-container *ngIf="!selectedServiceNumberRecord">
                    <p-dropdown [options]="recordsUnitOfMeasure" [(ngModel)]="selectedUnitOfMeasure"
                        [ngModelOptions]="{standalone: true}" optionValue="UnitOfMeasureLongName"
                        optionLabel="UnitOfMeasureLongName" [filter]="true"
                        [filterFields]="['UnitOfMeasureLongName','UnitOfMeasureName']" [showClear]="true"
                        placeholder="Select UnitOfMeasure" [required]="true" [appendTo]="'body'" [virtualScroll]="true"
                        [virtualScrollItemSize]="40">
                        <ng-template let-record pTemplate="item">
                            <div class="flex align-items-center gap-2">
                                <div>{{ record.UnitOfMeasureLongName }}::{{ record.UnitOfMeasureName }}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                </ng-container>
            </td>
            <td style="min-width: 10rem;">
                <p-dropdown [options]="recordsFormula" [(ngModel)]="selectedFormula"
                    [ngModelOptions]="{standalone: true}" optionValue="formula" optionLabel="formula" [filter]="true"
                    [filterFields]="['formula','description']" [showClear]="true" placeholder="Select Formula"
                    [required]="true" (onChange)="onFormulaSelect($event)" [appendTo]="'body'" [virtualScroll]="true"
                    [virtualScrollItemSize]="40">
                    <ng-template let-record pTemplate="item">
                        <div class="flex align-items-center gap-2">
                            <div>{{ record.formula }}::{{ record.description }}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
            </td>
            <td style="min-width: 10rem;">
                <button class="mb-2" (click)="openPopup()">Enter Parameters</button>
                <ng-container *ngIf="showPopup && selectedFormulaRecord ">
                    <div class="popup">
                        <h3>Enter Parameters</h3>
                        <div *ngFor="let parameterId of selectedFormulaRecord.parameterIds">

                            <label class="form-label">{{ parameterId }}:</label>
                            <input class="form-input" pInputNumber type="number" [min]="0"
                                [(ngModel)]="parameterValues[parameterId]">
                        </div>
                        <button class="form-button" (click)="saveParameters()">Save</button>
                    </div>
                </ng-container>

            </td>
            <td style="min-width: 10rem;">
                <input pInputNumber name="amountPerUnit" type="number" [min]="0"
                    [(ngModel)]="newMainItem.amountPerUnit">
            </td>
            <!-- update into currency fields -->
            <td style="min-width: 10rem;">
                <p-dropdown [options]="recordsCurrency" [(ngModel)]="selectedCurrency"
                    [ngModelOptions]="{standalone: true}" optionValue="code" optionLabel="code" [filter]="true"
                    [filterFields]="['code','description']" [showClear]="true" placeholder="Select Currency"
                    [required]="true" (onChange)="onFormulaSelect($event)" [appendTo]="'body'" [virtualScroll]="true"
                    [virtualScrollItemSize]="40">
                    <ng-template let-record pTemplate="item">
                        <div class="flex align-items-center gap-2">
                            <div>{{ record.code }}::{{ record.description }}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
            </td>
            <td style="min-width: 10rem;">
                <ng-container *ngIf="selectedFormulaRecord && resultAfterTest">
                    {{ resultAfterTest * (newMainItem.amountPerUnit ?? 0) }}
                </ng-container>
                <ng-container *ngIf="!selectedFormulaRecord">
                    {{ (newMainItem.quantity ?? 0) * (newMainItem.amountPerUnit ?? 0) }}
                </ng-container>
                <!-- <input pInputNumber name="total" type="number" [min]="0" [(ngModel)]="newMainItem.total"> -->
            </td>
            <td style="min-width: 10rem;">
                <input pInputNumber name="profitMargin" type="number" [min]="0" [(ngModel)]="newMainItem.profitMargin">
            </td>
            <td style="min-width: 10rem;">
                <input pInputNumber name="amountPerUnitWithProfit" type="number" [min]="0"
                    [(ngModel)]="newMainItem.amountPerUnitWithProfit">
            </td>
            <td style="min-width: 10rem;">
                <input pInputNumber name="totalWithProfit" type="number" [min]="0"
                    [(ngModel)]="newMainItem.totalWithProfit">
            </td>
            <td style="min-width: 10rem;">
                <button pButton type="button" icon="pi pi-plus" class="ui-button-info" label="Save MainItem"
                    (click)="addMainItem()">
                </button>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
